VITE_GUIDORA_ENABLED=true
VITE_GUIDORA_API_BASE_URL=http://127.0.0.1:8000/api/guide
VITE_GUIDORA_API_KEY=c22296ab2abf3eba0548d93dab9426f5
VITE_GUIDORA_SDK_CDN_URL=https://cdn.jsdelivr.net/npm/@guidora/sdk@latest/dist/index.global.js

GUIDORA_DASHBOARD_ORIGIN=http://localhost:3000